@*---=== Левая панель - sidebar ===---*@
<aside class="main-sidebar">
    <section class="sidebar">
        @*---=== Sidebar user panel===---*@
        @Html.Partial("_LeftSidebarUserPanel")
        @*---=== Конец Sidebar user panel ===---*@
        
        @*---=== Sidebar menu ===---*@
        @Html.Partial("_LeftSidebarMenu")
        @*---=== Конец Sidebar menu ===---*@
    </section>
</aside>
@*---=== Конец Левая панель - sidebar ===---*@
