@{
    ViewBag.Title = "Ваш заказ оформлен";
}

<section id="feature" class="transparent-bg">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Оформление заказа</h2>
        </div>

        <div class="get-started center wow fadeInDown">
            <h2>Ваш заказ оформлен!</h2>
            <p class="lead">
                Спасибо за покупку в нашем магазине. <br />
                Наши менеджеры в ближайшее время обработают ваш заказ.
            </p>
            <div class="request">
                <h4><a href="@Url.Action("Index", "Home", null)">Вернуться в магазин</a></h4>
            </div>
        </div> 

    </div>
</section>
