@{
    ViewBag.Title = "Восстановление доступа - проверьте вашу почту";
}

<section id="blog" class="container">
    <div class="center">
        <h1>Восстановление доступа</h1>
        <p class="lead">На ваш почтовый ящик было отправлено письмо с кодом активации. <br />
            Проверьте ваш почтовый ящик и следуйте инструкциям в письме</p>
        <br />
    </div>
</section>