@{
    ViewBag.Title = "Не удалось восстановить доступ";
}

<section id="blog" class="container">
    <div class="center">
        <h1>@ViewBag.Title</h1>
        <p class="lead">Невозможно выполнить восстановление доступа!</p>
        <p class="lead">Коды активации не совпадают!</p>
        @Html.ActionLink("На главную", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>
</section>