@{
    ViewBag.Title = "Новый пароль установлен";
}

<section id="blog" class="container">
    <div class="center">
        <h1>@ViewBag.Title</h1>
        <p class="lead">Новый пароль успешно установлен. <br />
        Для входа в аккаунт перейдите @Html.ActionLink("по этой ссылке", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
        <br />
        <hr />
    </div>
</section>
